body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header, .footer, .sign_up {
    font-family: Hero, roboto;
    color: #F9FAF8;
    background-color: #1F2937;
}

.content {
    padding: 32px 64px;
    flex: 1;
}

.main_text {
    font-size: 48px; 
    font-weight: extra-bold;
}

.header{
    display: flex;
    height: 72px;
    justify-content: space-between;
    text-wrap: nowrap;
    align-items: center;
    padding: 0px 200px;
}

.header_logo{
    font-size: 24px;
    margin-right: auto;
}

.sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;    
}

.text {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 32px;
    width: 120px;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: #1F2937; 
}

.info_text {
    font-size: 36px;
    font-weight: extra-bold;
}

.info_graphics {
    display: flex;
    gap: 32px;
}

.graphic {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
}

.graphic_text {
    width: 150px;
    text-align: center;
    padding-top: 6px;
}

.placeholder {
    height: 200px;
    width: 450px;
    margin: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px;
    background-color: #E5E7EB;
    color:#1F2937;
}
.quote_text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.call {
    padding: 100px;
    color:#E5E7EB;
}

.call_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    height: 125px;
    border-radius: 8px;
}

.call_main_text {
    font-size: 24px;
}

.call_button {
    border-color: #E5E7EB;
    border-width: 2px;
    border-style: solid;
}

footer {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
}